<!DOCTYPE html>
<html>
<head>

<link href="menu.css" rel="stylesheet">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div class="header-container hidden-xs clearfix ">
		<div class="pull-left">
			<a href="/"
				title="Baby-Sitter, Nounou, baby-sitting, Recherche garde enfants - Yoopies"
				class="logo                "> <img
				src="https://static.yoopies.com/bundles/yoopiescore/img/logo_header/Yoopies-housekeeping.png?299"
				alt="Baby-Sitter, Nounou, baby-sitting, Recherche garde enfants - Yoopies"
				title="Baby-Sitter, Nounou, baby-sitting, Recherche garde enfants - Yoopies"
				class="logo-img-housekeeping">
			</a>

		</div>
		<div class="row header-link-container">
			<ul class="nav navbar-nav navbar-right" role="menu">

				<li role="menutiem" class="hidden-xs first last"><a
					href="/premium">Devenir membre premium</a></li>


			</ul>

			<div class="pull-right">
				<ul>


					<li class="link-container">
						<div id="header-menu-services">
							<a class="btn btn-default dropdown-toggle" data-toggle="dropdown"
								data-close-others="false"> <span>Services</span> <span
								class="caret"></span>
							</a>
							<ul class="dropdown-menu connected">
								<li><a href="/baby-sitting" title="Garde d'enfants">
										Garde d'enfants </a></li>
								<li><a href="/soutien-scolaire" title="Soutien scolaire">
										Soutien scolaire </a></li>
								<li><a href="/menage" title="Ménage"> Ménage </a></li>
								<li><a href="/garde-animaux" title="Garde d'animaux">
										Garde d'animaux </a></li>
								<li><a href="/aide-a-domicile" title="Aide aux séniors">
										Aide aux séniors </a></li>
							</ul>
						</div>
					</li>

					<li class="link-container">


						<div id="header-menu-user" class="">
							<a href="/mon-compte" title="Mon profil" class="profil-link">
								<img
								src="https://static.yoopies.com/media/cache/profil_block/bundles/yoopiescore/img/user_employer_photo.png?"
								alt="profil picture mohamed e" class="image-border img-circle ">
							</a> <a class="dropdown-toggle" data-toggle="dropdown"
								aria-expanded="false"> <span>Mohamed</span> <span
								class="caret"></span>
							</a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="/mon-compte" title="Mon profil"> <span
										class="icon-user"></span> Mon profil
								</a></li>
								<li><a href="/favoris"
									title="yoopies.login.profil.favorite2"> <span
										class="icon-heart"></span> 0 profil favori
								</a></li>
								<li><a href="/mon-compte/mes-annonces/en-cours"
									title="Mes annonces"> <span class="icon-comment"></span>
										Mes annonces
								</a></li>
								<li><a href="/mon-compte/info" title="Mon compte"> <span
										class="icon-user"></span> Mon compte
								</a></li>
								<li class="divider"></li>
								<li><a href="/logout" title="Me déconnecter"> <span
										class="glyphicon glyphicon-off"></span> Me déconnecter
								</a></li>
							</ul>
						</div>
					</li>

					<li id="header-link-message" class="link-container"><a
						href="/inbox" title="Messages" class="no-new-message"> <img
							class="icon-message"
							src="https://static.yoopies.com/bundles/yoopiescore/img/icons/message-icon.png?299"
							alt="Mes messages"> <span class="nb-unread">0</span>
					</a></li>

					<li class="link-container">
						<div id="header-menu-switcher">
							<a class="btn btn-default dropdown-toggle flag-dropdown"
								data-toggle="dropdown"> <i class="flag flag-fr"></i>
							</a>
							<ul class="dropdown-menu flag-dropdown-menu">
								<li><a href="https://nl.yoopies.be/"
									title="Changer la langue" class="flag-link">
										<div class="flag flag-nl"></div>
								</a></li>
								<li><a href="https://en.yoopies.be/"
									title="Changer la langue" class="flag-link">
										<div class="flag flag-en"></div>
								</a></li>
							</ul>
						</div>

					</li>
				</ul>
			</div>
		</div>
	</div>
</body>

</html>