<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>


<link href ="resources/css/main.css" rel="stylesheet">
</head>
<body>
	<div class="row header-link-container">
		<ul class="nav navbar-nav navbar-right" role="menu">

			<li role="menutiem" class="hidden-xs first last"><a
				href="/applicant/verif">Vérifiez votre profil</a></li>


		</ul>

		<div class="pull-right">
			<ul>

				<li class="link-container">


					<div id="header-menu-user">
						<a href="/mon-profil" title="Mon profil" class="profil-link">
							<img
							src="https://static.yoopies.com/media/cache/profil_block/bundles/yoopiescore/img/profile-v4/user_applicant_f_5_photo.png?"
							alt="profil picture mohamed e" class="image-border img-circle ">
						</a> <a class="dropdown-toggle" data-toggle="dropdown"> <span>Mohamed</span>
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="/mon-profil" title="Mon profil"> <span
									class="icon-user"></span> Mon profil
							</a></li>
							<li><a href="/applicant/premium" title="Accès premium">
									Accès premium </a></li>
							<li><a href="/mon-profil/mes-annonces/en-cours"
								title="Mes annonces"> <span class="icon-comment"></span> Mes
									annonces
							</a></li>
							<li><a href="/mon-profil/info" title="Mon compte"> <span
									class="icon-user"></span> Mon compte
							</a></li>
							<li class="divider"></li>
							<li><a href="/logout" title="Me déconnecter"> <span
									class="glyphicon glyphicon-off"></span> Me déconnecter
							</a></li>
						</ul>
					</div>
				</li>

				<li id="header-link-message" class="link-container"><a
					href="/inbox" title="Messages" class="no-new-message"> <img
						class="icon-message"
						src="https://static.yoopies.com/bundles/yoopiescore/img/icons/message-icon.png?299"
						alt="Mes messages"> <span class="nb-unread">0</span>
				</a></li>

				<li class="link-container">
					<div id="header-menu-switcher">
						<a class="btn btn-default dropdown-toggle flag-dropdown"
							data-toggle="dropdown"> <i class="flag flag-fr"></i>
						</a>
						<ul class="dropdown-menu flag-dropdown-menu">
							<li><a href="https://nl.yoopies.be/vacatures"
								title="Changer la langue" class="flag-link">
									<div class="flag flag-nl"></div>
							</a></li>
							<li><a href="https://en.yoopies.be/jobs"
								title="Changer la langue" class="flag-link">
									<div class="flag flag-en"></div>
							</a></li>
						</ul>
					</div>

				</li>
			</ul>
		</div>
	</div>
</body>
</html>