<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.0.xsd">

	<!-- Regles d'autorisation -->
	<security:http auto-config="true" use-expressions="true">


		<security:intercept-url pattern="/showProfil**"
			access="hasRole('babysitter')" />
		<security:intercept-url pattern="/home"
			access="hasRole('babysitter')" />


		<security:form-login login-page="/login"
			username-parameter="login" 
			password-parameter="password" 
			/>

		<!-- <security:logout invalidate-session="true" -->
		<!-- logout-success-url="/" /> -->
		<!-- <security:csrf disabled="true" /> -->

		<!-- enable csrf protection -->
		<!-- <security:csrf /> -->

	</security:http>

	<!-- Regles d'authentification -->
<!-- 	<security:authentication-manager> -->
<!-- 		<security:authentication-provider> -->

<!-- 			<security:user-service> -->
<!-- 				<security:user name="mohamed" password="mohamed" -->
<!-- 					authorities="ROLE_administrateur" /> -->


<!-- 			</security:user-service> -->
<!-- 		</security:authentication-provider> -->

<!-- 	</security:authentication-manager> -->

<!-- Select users and user_roles from database -->

	<security:authentication-manager>
	  <security:authentication-provider>
		<security:jdbc-user-service data-source-ref="datasource_pool_hikari"  
		  users-by-username-query=
		    "select username,password, enabled from users where username=?"		   
		  authorities-by-username-query=
		    "select username, role from user_roles where username =?  " />
	  </security:authentication-provider>
	</security:authentication-manager>




</beans>
